body {
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

main {
    flex-direction: row;
    width: 60vw;
    height: 40vh;
    overflow: visible;
}

a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a > img {
    width: 1vw;
    height: 1.7vh;
}

.leftSide {
    height: 100%;
    background-image: url(./images/drawers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2vh  0 0 2vh;
}

.rightSide {
    padding: 3.5vw;
    gap: 2.5vh;
    width: 68vw;
}

.rightSide > h1 {
    font-size: 1.4rem;
}

.rightSide > p {
    font-size: 0.9rem;
}

.commentUser {
    margin-top: 0;
} 

.rightSide > * {
    margin: 0;
} 

.commentUser > img {
    width: 4vw;
} 

#shareBtn {
    padding: 1.4vw;
    height: 0;
    width: 0;
}

#shareBtn > img {
    width: 1.4vw;
}

.nameAndDate {
    width: 70%;
}

.shareMobileActive {
    width: 14vw;
    border-radius: 1vh;
    height: 5vh;
    justify-content: center;
    gap: 1vw;
    bottom: 14vh;
    align-items: center;
    right: -21px;
}

.shareMobileActive > span {
    font-size: 1.2vh;
    letter-spacing: 5px;
}