@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 12px;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
}

main {
    margin: 10vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 3vh;
}

.leftSide {
    width: 100%;
    height: 200px;
    background-image: url(./images/drawers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2vh 2vh 0 0;
}

.rightSide {
    margin: 4vh 8vw;
}

.rightSide > h1 {
    font-size: 1rem;
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

.rightSide > p {
    color: hsl(214, 17%, 51%);
    font-weight: 500;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


#Colors {
    /* ## Colors */

/* - Very Dark Grayish Blue */
color: hsl(217, 19%, 35%);

/* - Desaturated Dark Blue */
color: hsl(214, 17%, 51%);

/* - Grayish Blue */
color: hsl(212, 23%, 69%);

/* - Light Grayish Blue */
color: hsl(210, 46%, 95%);
}