@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 13.2px;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
}

main {
    position: relative;
    margin: 10vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 2vh;
    overflow: hidden;
}

.leftSide {
    width: 100%;
    height: 200px;
    background-image: url(./images/drawers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2vh 2vh 0 0;
}

.rightSide {
    display: flex;
    flex-direction: column;
    padding: 5vh;
    width: 68vw;
}

.rightSide > h1 {
    font-size: 1rem;
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

.rightSide > p {
    color: hsl(214, 17%, 51%);
    font-weight: 500;
    font-size: 1.05rem;
}

.commentUser {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.commentUser > img {
    width: 15%;
    border-radius: 50%;
}

.nameAndDate {
    display: flex;
    flex-direction: column;
    gap: .5vh;
    width: 60%;
}

.nameAndDate > * {
    margin: 0;
}

.nameAndDate > p {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

.nameAndDate > span {
    color: hsl(212, 23%, 69%);
}

#shareBtn {
    display: flex;
    flex-direction: column;
    border: none;
    text-align: right;
    padding: 2vw;
    height: 2.5vh;
    width: 2.5vh;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: hsl(210, 46%, 95%);
}

#shareBtn > img {
    padding-bottom: 1px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(212, 23%, 69%);
}


/* JS */
.shareMobileActive {
    position: absolute;
    bottom: -50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 11vh;
    position: absolute;
    background-color: hsl(217, 19%, 35%);
    color: hsl(213, 13%, 67%);
    width: 85.5vw;
    align-self: center;
    bottom: 2vh;
    border-radius: 0 0 2vh 2vh;
}



#Colors {
    /* ## Colors */

/* - Very Dark Grayish Blue */
color: hsl(217, 19%, 35%);

/* - Desaturated Dark Blue */
color: hsl(214, 17%, 51%);

/* - Grayish Blue */
color: hsl(212, 23%, 69%);

/* - Light Grayish Blue */
color: hsl(210, 46%, 95%);
}